CLIENT_URL="http://localhost:5173" # Default client url
SERVER_PORT=5000
SERVER_SECRET="your_jwt_secret"

# Database Configuration
DB_URL="your postgres connection string"
REDIS_URL="your redis connection string"